n8n/workflows/1-check-in-scheduler.json
{
  "name": "1. Check-in Scheduler",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtDay": [2, 5],
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300],
      "notes": "Runs Tuesday and Friday at 9am"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.AIRTABLE_BASE_ID }}"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.USERS_TABLE_ID }}"
        },
        "filterByFormula": "AND({Status}='Active', OR({Last Response Date}='', DATETIME_DIFF(TODAY(), {Last Response Date}, 'days') >= 3))"
      },
      "id": "get-active-users",
      "name": "Get Active Users",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [460, 300],
      "credentials": {
        "airtableTokenApi": {
          "id": "airtable-credentials",
          "name": "Airtable Token"
        }
      },
      "notes": "Get users who are Active and haven't received a check-in in 3+ days"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-has-users",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ]
        }
      },
      "id": "check-users-exist",
      "name": "Check Users Exist",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "content": "## Check-in Email Template\n\nPersonalized with user's first name and maintains email threading.",
        "height": 100,
        "width": 300
      },
      "id": "template-note",
      "name": "Template Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [900, 160]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.fields.Email }}",
        "subject": "Quick check-in",
        "message": "Hey {{ $json.fields['First Name'] }},\n\nQuick check-in. Reply with:\n\n1. **Accomplished** - What did you get done since we last talked?\n2. **Current Focus** - What are you working on now?\n3. **Next Step** - What's the single most important thing you need to do next?\n4. **Approach** - How are you going about it?\n\nKeep it brief - a sentence or two for each.\n\nWes",
        "options": {
          "replyTo": "coachwes@thelaunchpadincubator.com",
          "appendAttributionToBody": false
        }
      },
      "id": "send-new-email",
      "name": "Send New Check-in",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1120, 200],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-credentials",
          "name": "Gmail OAuth2"
        }
      },
      "notes": "For users without existing thread"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.fields.Email }}",
        "subject": "Re: Coaching",
        "message": "Hey {{ $json.fields['First Name'] }},\n\nQuick check-in. Reply with:\n\n1. **Accomplished** - What did you get done since we last talked?\n2. **Current Focus** - What are you working on now?\n3. **Next Step** - What's the single most important thing you need to do next?\n4. **Approach** - How are you going about it?\n\nKeep it brief - a sentence or two for each.\n\nWes",
        "options": {
          "replyTo": "coachwes@thelaunchpadincubator.com",
          "threadId": "={{ $json.fields['Last Thread ID'] }}",
          "appendAttributionToBody": false
        }
      },
      "id": "send-reply-email",
      "name": "Send Reply Check-in",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1120, 400],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-credentials",
          "name": "Gmail OAuth2"
        }
      },
      "notes": "For users with existing thread - maintains threading"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-thread-id",
              "leftValue": "={{ $json.fields['Last Thread ID'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ]
        }
      },
      "id": "check-thread-exists",
      "name": "Has Existing Thread?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.AIRTABLE_BASE_ID }}"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.USERS_TABLE_ID }}"
        },
        "id": "={{ $('Get Active Users').item.json.id }}",
        "fields": {
          "fieldValues": [
            {
              "fieldName": "Last Thread ID",
              "fieldValue": "={{ $json.threadId }}"
            },
            {
              "fieldName": "Last Message ID",
              "fieldValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "id": "update-user-thread-new",
      "name": "Update User (New Thread)",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [1340, 200],
      "credentials": {
        "airtableTokenApi": {
          "id": "airtable-credentials",
          "name": "Airtable Token"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.AIRTABLE_BASE_ID }}"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.USERS_TABLE_ID }}"
        },
        "id": "={{ $('Get Active Users').item.json.id }}",
        "fields": {
          "fieldValues": [
            {
              "fieldName": "Last Message ID",
              "fieldValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "id": "update-user-thread-reply",
      "name": "Update User (Reply)",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [1340, 400],
      "credentials": {
        "airtableTokenApi": {
          "id": "airtable-credentials",
          "name": "Airtable Token"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.AIRTABLE_BASE_ID }}"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.CONVERSATIONS_TABLE_ID }}"
        },
        "fields": {
          "fieldValues": [
            {
              "fieldName": "User",
              "fieldValue": "[\"{{ $('Get Active Users').item.json.id }}\"]"
            },
            {
              "fieldName": "Type",
              "fieldValue": "Check-in"
            },
            {
              "fieldName": "Gmail Thread ID",
              "fieldValue": "={{ $json.threadId }}"
            },
            {
              "fieldName": "Gmail Message ID",
              "fieldValue": "={{ $json.id }}"
            },
            {
              "fieldName": "Status",
              "fieldValue": "Sent"
            }
          ]
        }
      },
      "id": "log-checkin-new",
      "name": "Log Check-in (New)",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [1560, 200],
      "credentials": {
        "airtableTokenApi": {
          "id": "airtable-credentials",
          "name": "Airtable Token"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.AIRTABLE_BASE_ID }}"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.CONVERSATIONS_TABLE_ID }}"
        },
        "fields": {
          "fieldValues": [
            {
              "fieldName": "User",
              "fieldValue": "[\"{{ $('Get Active Users').item.json.id }}\"]"
            },
            {
              "fieldName": "Type",
              "fieldValue": "Check-in"
            },
            {
              "fieldName": "Gmail Thread ID",
              "fieldValue": "={{ $('Get Active Users').item.json.fields['Last Thread ID'] }}"
            },
            {
              "fieldName": "Gmail Message ID",
              "fieldValue": "={{ $json.id }}"
            },
            {
              "fieldName": "Status",
              "fieldValue": "Sent"
            }
          ]
        }
      },
      "id": "log-checkin-reply",
      "name": "Log Check-in (Reply)",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [1560, 400],
      "credentials": {
        "airtableTokenApi": {
          "id": "airtable-credentials",
          "name": "Airtable Token"
        }
      }
    },
    {
      "parameters": {},
      "id": "no-users",
      "name": "No Users to Contact",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [900, 500]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Active Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Users": {
      "main": [
        [
          {
            "node": "Check Users Exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Users Exist": {
      "main": [
        [
          {
            "node": "Has Existing Thread?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Users to Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Existing Thread?": {
      "main": [
        [
          {
            "node": "Send Reply Check-in",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send New Check-in",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send New Check-in": {
      "main": [
        [
          {
            "node": "Update User (New Thread)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Reply Check-in": {
      "main": [
        [
          {
            "node": "Update User (Reply)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update User (New Thread)": {
      "main": [
        [
          {
            "node": "Log Check-in (New)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update User (Reply)": {
      "main": [
        [
          {
            "node": "Log Check-in (Reply)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "Coaching System"
    }
  ],
  "triggerCount": 1,
  "versionId": "1"
}
